<!-- angular-electron/src/app/components/dashboard/dashboard.component.html -->

<div id="dashboard-controls-wrapper">
	<h1>Dashboard Component</h1>

	<div class="centre" style="padding-top: 10px">
		<button class="btn-primary" ngbButtonLabel (click)="onClickStart()">Start</button>
	</div>
	<div class="centre" style="padding-top: 10px">
		<button class="btn-primary" ngbButtonLabel (click)="onClickIpcPing()">IPC Ping!</button>
		<span id="ipcPong">{{ ipcPongSpanText }}</span>
	</div>
	<div class="centre" style="padding-top: 10px">
		<button class="btn-primary" ngbButtonLabel (click)="onClickReadConfig()">Read Config</button>
		<span id="configObso">{{ configObsoText }}</span>
	</div>
	<div class="centre" style="padding-top: 10px">
		<button class="btn-primary" ngbButtonLabel (click)="onClickImageTest()" tooltip="Auto-Placed Tooltip" autoPlacement="true">Image Test</button>
	</div>
	<div *ngIf="isCanvasVisible" class="centre" style="padding-top: 10px">
		<canvas #imageCanvas width="256" height="256"></canvas>
	</div>
	<div class="centre" style="padding-top: 10px">
		<app-palette #palette></app-palette>
	</div>
	<div id="dashboard-basic-canvas-wrapper" class="centre" style="padding-top: 10px">
		<app-basic-canvas #basicCanvas></app-basic-canvas>
	</div>
</div>
